.body 
{
  background-image:YuriKuma.2.jpg
  background-repeat:
  background-position:
  background-size:
  font-size:
  font-family:

}

.bestGirlButtons-view {
background-color: palevioletred;
border-radius: 5px;
color: antiquewhite;
display: inline-block;
text-decoration: underline overline wavy goldenrod;

}



